a{
    text-decoration: none;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

ul{
   list-style-image: url();
    list-style-type: ✔;
}

.custom-list {
  list-style-image: url("asset/p1.gif");
  padding-left: 30px;
  width: 20px;
  height: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    /* height: 300px; */
}
table, tr, th, td{
    border: 1px solid green;
}

tr:nth-child(even) {background-color: #dc3838;}

tr:nth-child(odd) {background-color: rgb(163, 206, 163);}

th{
    background-color: yellow;
}
.c1 p{
    background-color: #dc3838;
}

.c2 > p {
  background-color: yellow;
}

h1 + p {
  color: red;
}
.c3 h2 ~ p {
  color: blue;
}
